.menu-bar {
    -fx-padding: 0 0;
    -fx-border-width: 0 0 0 0; /* Bottom border only */
    -fx-alignment: center-right; /* For container alignment */
    -fx-text-alignment: right;   /* For text inside label */
}