./target/**
target/**
linuxpathmanager/**
linuxpathmanager/*
./linuxpathmanager/**
./linuxpathmanager.deb
**.deb
target
./target
target/*
linuxpathmanager_*
./linuxpathmanager_*
linuxpathmanager-1.0-1.fc42.noarch.rpm
./linuxpathmanager-1.0-1.fc42.noarch.rpm